::-webkit-scrollbar { width:2px; background: transparent; }

::-webkit-scrollbar-thumb { background-color:transparent; }
 
#s-m-t-tooltip  { max-width:230px; padding:2px 10px 2px 10px; margin:20px 15px; color:#ffffff; text-transform:lowercase; letter-spacing:1px; font-size:9px; text-align:justify; box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03); background-color:rgba(255,207,141, .75); backdrop-filter: blur(3px); border:1px solid #ffcf8d; z-index:999999999999999!important; border-radius:20px;  }
::-moz-selection { background:#bfd5f1; color:#ffffff; }
 
::selection { background:#cdb7ff; color:#ffffff; }


                              /* ANIMATIONS */

.posts, #tags, #muzis img, #pngz img, #pngz p, .link1, .link2, .link3, .link4, .link5, .link6, #navipicz {
	-webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}    

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


                                /* BODY */
                                
body { background-color:#FCFEFF; color:#4d4d4d; font-family: 'Kosugi Maru', sans-serif, sans-serif; font-size:10px; text-transform:lowercase; font-weight:lighter; letter-spacing:1px; line-height:18px; text-align:justify; background-attachment:fixed; background-position:center; overflow:hidden; }

a { text-decoration:none; color:#bfd5f1; transition: all 0.6s ease-in-out; }
 
a:hover { color:#ffffff; transition: all 0.6s ease-in-out; }

 
blockquote { border-left:1px solid #e6e6e6; margin-left:20px; padding-left:10px; width:87%; margin-top:10px; margin-bottom:4px; }
 
blockquote blockquote { border-left:1px solid #e6e6e6; margin-left:10px; }
   
small, sup, sub { font-size:9px; }
   
b, strong { background-color:rgba(161,161,161, .35); font-family: 'Roboto', sans-serif; }

i, em { color:#f9ca8a; font-style:italic; font-family: 'Roboto', sans-serif;}

h1, h2 { font-size:20px; font-family:'Playfair Display'; text-transform:lowercase; letter-spacing:0.71px; text-align:center; color:#ffcf8d;  }

.svz { position:absolute; top:-1px; left:-1px;}

                                  /* CONTAINER */
                                    
.contdeco { position:absolute; margin:auto; left:0px; right:0px; top:0px; bottom:0px; width:880px; height:540px; padding:20px; background-color:rgba(161,161,161, .35); overflow:hidden; }

#container { position:absolute; margin:auto; left:0px; right:0px; top:0px; bottom:0px; width:880px; height:540px; background-color:#ffffff;   overflow:hidden;  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03); box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.0);  }


                                   /* SIDE */
                                   


.decox { position:absolute; top:70px; left:0px; width:475px; height:400px; border-right:1px solid #e6e6e6; }

.decoxz { position:absolute; bottom:-120px; right:-130px; background:#A984FF; width:700px; height:300px; border-radius:300%; transform: rotate(-20deg); opacity:.2; }

.decoxz1 { position:absolute; top:-190px; left:-200px; background:#FF84B6; width:900px; height:510px; border-radius:50%; transform: rotate(-40deg); opacity:.2; }

                              

                                /* TAB BASE CSS */
  /*    TABS STYLING-- BASE CODE BY ALYOFRP. DO NOT REMOVE THIS CREDIT!  */

.tabzcon { position:absolute; right:8px; top:0px; width:386px; height:539px; z-index:0; }
                                  
                              
                              /* TAB ABOUT CSS */

#dataz { position:absolute; top:100px; right:15px; width:170px; height:120px; background:#ffffff; border:1px solid #e6e6e6; line-height:20px; padding:10px; overflow:auto; overflow-x:hidden; box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);  }

#qotezz { position:absolute; top:260px; right:15px; width:200px; height:90px; background:#ffffff; border:1px solid #ffffff; padding:10px;  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03); text-align:justify; font-size:9px; overflow:auto; overflow-x:hidden; box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03); border:1px solid #e6e6e6;  }

#qotezz .iconify { color:#f9ca8a; font-size:30px; float:right; margin-left:1px; margin-bottom:-5px; }


#pngz { position:absolute; top:25px; left:10px; width:244px; }

#pngz img { position:absolute; top:25px; left:-30px; height:485px;}




#pngz p { position:absolute; top:65px; left:-14px; max-width:50px; height:20px; max-width:90px; padding:3px 15px 2px 15px; color:#ffffff; text-transform:lowercase; letter-spacing:1px; font-size:10px; text-align:center; box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03); background-color:rgba(80,80,80, .85); backdrop-filter: blur(3px); border:1px solid #E2E2E2; font-family: 'Kosugi Maru', sans-serif; border-radius:20px; text-shadow: 2px 2px 1px #565656; }


.sidebar { position:absolute; top:-10px; left:-10px; width:450px; height:550px; background:#ffffff; border:1px solid #e6e6e6; box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03); 
}

.sidebar-img { position:absolute; top:0px; left:0px; background:#f9ca8a; height:550px; overflow:hidden; border-right:1px solid #e6e6e6; }


.yohane { 
   width: 420px;
   position: absolute;
   left: 0x;
   bottom: 0px;
   margin-block-end: 0;
   }

/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
   from {
       opacity:1;
       -webkit-transform: translatex(-10px);
       -moz-transform: translatex(-10px);
       -o-transform: translatex(-10px);
       transform: translatex(-10px);
   }
   to {
       opacity:1;
       -webkit-transform: translatex(0);
       -moz-transform: translatex(0);
       -o-transform: translatex(0);
       transform: translatex(0);
   }
}
@-moz-keyframes fadeInLeft {
   from {
       opacity:1;
       -webkit-transform: translatex(-10px);
       -moz-transform: translatex(-10px);
       -o-transform: translatex(-10px);
       transform: translatex(-10px);
   }
   to {
       opacity:1;
       -webkit-transform: translatex(0);
       -moz-transform: translatex(0);
       -o-transform: translatex(0);
       transform: translatex(0);
   }
}
@keyframes fadeInLeft {
   from {
       opacity:0;
       -webkit-transform: translatex(-110px);
       -moz-transform: translatex(-110px);
       -o-transform: translatex(-110px);
       transform: translatex(-10px);
   }
   to {
       opacity:1;
       -webkit-transform: translatex(0);
       -moz-transform: translatex(0);
       -o-transform: translatex(0);
       transform: translatex(0);
   }
}
.in-left {
   -webkit-animation-name: fadeInLeft;
   -moz-animation-name: fadeInLeft;
   -o-animation-name: fadeInLeft;
   animation-name: fadeInLeft;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   -o-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-duration: .8s;
   -moz-animation-duration: .8s;
   -o-animation-duration: .8s;
   animation-duration: .8s;
   -webkit-animation-delay: .8s;
   -moz-animation-delay: .8s;
   -o-animation-duration: .8s;
   animation-delay: .8s;
}


.dialogue {
   width: 430px;
   height: 70px;
   background-color:rgba(80,80,80, .65);
   backdrop-filter: blur(3px);
   border-top: 1px solid #E2E2E2;
   border-right: 7px solid #E2E2E2;
   border-bottom: 1px solid #E2E2E2;
   border-left: 7px solid #E2E2E2;
   font-family: 'Roboto', sans-serif; 
   border-radius: 100px;
   bottom: 15px;
   position:absolute;
   left: 18px;
}

.name-dialogue {
   width: 140px;
   height: 20px;
   background-color:rgba(80,80,80, .65);
   backdrop-filter: blur(3px);
   border-top: 1px solid #E2E2E2;
   border-right: 7px solid #E2E2E2;
   border-bottom: 1px solid #E2E2E2;
   border-left: 7px solid #E2E2E2;
   font-family: 'Roboto', sans-serif; 
   border-radius: 100px;
   bottom: 92px;
   left: 35px;
   position: absolute;
}

@keyframes float {                                     
   0% {                                     
    transform: translatey(0px);                                     
   }                                     
   50% {                                     
    transform: translatey(-3px);                                     
   }                                     
   100% {                                     
    transform: translatey(0px);                                     
   }                                     
  }     

.triangle {
   width: 20px;
   position: absolute;
   bottom: 10px;
   left: 385px;
   opacity: 0.85;
   animation: float 0.8s ease-in-out infinite;
}

.name-muse {
   color:#ffffff;
   letter-spacing:1px; font-size:13px;
   margin: 0px 0px 0px 0px;
   letter-spacing: 1;
   font-family: 'Kosugi Maru', sans-serif;
   text-shadow: 2px 2px 1px #565656;
   text-transform: capitalize;
}

.text-dialogue {
   font-size: 1.1rem;
   font-family: 'Kosugi Maru', sans-serif;
   font-weight: 500;
   text-transform: initial; 
   color: #fff;
   letter-spacing: 0;
   line-height: 1.2;
   margin: 15px 35px 50px;
   text-align: left;
   text-shadow: 2px 2px 1px #565656;
}

header {
   width:100%;
   height:90px;
   top:0;
   left:0;
   position:fixed;
   display:block;
   z-index:999999;
   background-repeat:repeat-x;
   -webkit-box-sizing: border-box;    
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.lace {
    background-image:url("https://i.ibb.co/2YjXDsV/lace12.gif");
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9f9f9f;
   color: white;
   text-align: center;
 }


 #player-container  #play-pause {
   cursor: pointer;
   position: absolute;
   bottom: 50px;
   right: 472px;
   text-indent: -999999px;
   z-index: 2;
   padding: 18px 18px;
   background-image: url(https://u.cubeupload.com/byulharang/playbutton.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 16px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 20px;
   width: 20px;
   height: 20px;
   border-radius: 100%;
   background-color: #9f9f9f;
   border: 5px solid white;
   position: absolute;
   text-align: center;
   bottom: 10px;
   right: 10px;
   box-shadow: 0 0 0 rgba(80,80,80, .65);
   animation: pulse 2s infinite;
   }
  
  @-webkit-keyframes pulse {
     0% {
       -webkit-box-shadow: 0 0 0 0 rgba(80,80,80, .65);
     }
     70% {
         -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
     }
     100% {
         -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
     }
   }
   @keyframes pulse {
     0% {
       -moz-box-shadow: 0 0 0 0 rgba(80,80,80, .65);
       box-shadow: 0 0 0 0 rgba(80,80,80, .65);
     }
     70% {
         -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
         box-shadow: 0 0 0 10px rgba(204,169,44, 0);
     }
     100% {
         -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
         box-shadow: 0 0 0 0 rgba(204,169,44, 0);
     }
   }
   
     }
 .play {
   background-image: url(https://u.cubeupload.com/byulharang/playbutton.png);
     }
 .pause {
   background-image: url(https://u.cubeupload.com/byulharang/pause.png)!important;
     }
 